<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>//Remarked</title>
    </head>
    <body>    
        <header> 
            <h1>//Remarked - A Tech Blog Community</h1>
        </header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    {{#if logged_in}}
                        <li><a id="logout" href="/">Logout</a></li>
                    {{else}}
                        <li><a href="/login">Log In/Sign Up</a></li>
                    {{/if}}
                </ul>
            </nav>
        <main>
            {{{body}}}
        </main>
    </body>
    <script src="./logout"></script>
</html>