<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>//Remarked</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>    
        <header> 
            <h1>//Remarked - A Tech Blog Community</h1>
        </header>
            <nav>
                    <a href="/">// Home</a>
                    <a href="/dashboard"> // Dashboard</a>
                    {{#if logged_in}}
                        <a id="logout" href="/"> // Logout</a>
                    {{else}}
                        <a href="/login"> // Log In/Sign Up</a>
                    {{/if}}
            </nav>
        <main>
            {{{body}}}
        </main>
    </body>
    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
</html>