<div id="blogPosts">
    <h2>Your Dashboard</h2>
    <ul>
    {{#each plainPosts as |post| }}
    <div class="postCard" id="post{{postId}}">
    <div class="postTitle">
        <h3>{{post.title}}</h3>
    </div>
    <div class="postDate">
        <h3>{{post.date}}</h3>
    </div>
    <button class="deleteBtn">x</button>
    </div>
    {{/each}}
    </ul>
    <button type="button" value="newPost">+ New Post</button>
</div>

<script src="./js/dashboard.js"></script>