<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>//Remarked</title>
    </head>
    <body>    
        <header> 
            <h1>//Remarked - A Tech Blog Community</h1>
        </header>
        <main>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    {{#if logged_in}}
                        <li><a href="#">Logout</a></li>
                    {{/if}}
                    {{#if !logged_in}}
                        <li><a href="#">Log In/Sign Up</a></li>
                    {{/if}}
                </ul>
            </nav>
            <h2>Sign Up to Remark!</h2>
            <form>
                <label for="username">Please Input a Username:</label>
                <input type="text" id="username" name="username">
                <label for="password">Please enter a password:</label>
                <input type="password" id="pass" name="pass">
                <label for="repass">Please re-enter your chosen password:</label>
                <input type="password" id="repass" name="repass">
                <input type="submit">
            </form>
        </main>
    </body>
</html>