<div id="SignUpContainer">
    <h2>Sign Up to Remark!</h2>
        <form>
            <label for="username">Please Input a Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Please enter a password:</label>
            <input type="password" id="pass" name="pass">
            <label for="repass">Please re-enter your chosen password:</label>
            <input type="password" id="repass" name="repass">
            <input type="submit">
        </form>
</div>

